.question {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;

  color: #4055cb;
}

.question-inputs {
  display: flex;
  
  align-items: center;

  gap: 20px;
}

.questions {
  padding: 20px;
  margin: 20px 0;
}

.option {
  display: flex;

  align-items: center;
  justify-content: start;

  gap: 10px;
}

.remove-option {
  font-size: 0.8em;
}
