.quiz {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #4055cb;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
}

.quiz p {
    margin: 0;
}

.quiz h2 {
    margin: 0;
}

.quiz-image {
    width: auto;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}